<div class="container">

  <%# List Title %>
  <%= simple_form_for [current_user, @list] do |f| %>
    <%= f.input :title %>
    <%= f.input :tag_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>

</div>
