<div class="container">

  <%# List Title %>
  <%= simple_form_for [current_user, @list] do |f| %>
    <%= f.input :title %>
    <%= f.input :tag_list, label: "Add tags", hint: "Add your tags, separated by commas", :input_html => { :class => "css-class", :value => @list.tag_list.join(", ") } %>
    <%= f.input :photo, as: :file %>
    <%= f.input :article, as: :boolean %>
    <%= f.submit %>
  <% end %>

  <div class="d-flex justify-content-evenly mt-3">
    <%= button_to "Delete", user_list_path(current_user, @list), method: :delete, class: "btn btn-alert" %>
  </div>

</div>
