<div class="item-card" data-controller="edit-item" data-edit-item-target="card">
  <div class="item-infos d-flex justify-content-between" data-edit-item-target="infos">

    <h5 data-action="click->edit-item#displayForm"><span class="my-handle">:: </span><%= @item.name %></h5>

    <div class="d-flex">
      <% if hide_button(@item.list.user)%>
        <%# delete %>
        <%= link_to list_item_path(item.list, item), method: :delete do %>
        <p class="delBtn"><i class="fa-solid fa-xmark"></i></p>
      <% end %>

      <% end %>
      <%# article %>
      <% if @item.list.article == true %>
        <%# reveal article %>
        <p><i class="fa-solid fa-circle-info" data-action="click->edit-item#descBtn"></i></p>
      <% end %>
    </div>

  </div>

  <%= simple_form_for @item, html: { id: "sort-form", class: "d-none", data: { edit_item_target: "form", action: "submit->edit-item#update" } } do |f| %>
    <%= f.input :name, label: false %>
    <% if @item.list.article == true %>
      <%= f.input :description, label: false %>
      <%= f.input :photo, as: :file %>
    <% end %>
    <%= f.hidden_field :list_id, value: @item.list.id %>
    <%= f.submit "Save" %>
  <% end %>

  <%# ARTICLE VIEW %>
  <div data-edit-item-target="article">
    <% if @item.list.article == true %>
      <% if @item.description == nil || @item.description == ""  %>
         <% if hide_button(@item.list.user) %>
            <em>+ List Description...</em>
          <% end %>
      <% else %>
        <p><%= @item.description %></p>
        <div class="d-flex justify-content-center">
          <%= cl_image_tag item.photo.key, class:"list-item-photo-card" if item.photo.key %>
        </div>
        <% end %>
    <% end %>
  </div>

</div>
