<div class="item-card" data-controller="edit-item" data-edit-item-target="card">

  <div class="item-infos" data-edit-item-target="infos">
    <li>
    <%= @item.name %>
    <i class="fas fa-pen fa-xs ms-2" data-action="click->edit-item#displayForm"></i>
    </li>
  </div>

  <%= simple_form_for @item, html: { class: "d-none", data: { edit_item_target: "form", action: "submit->edit-item#update" } } do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.hidden_field :list_id, value: @item.list.id %>
    <%= f.submit %>
  <% end %>

</div>
