<div id="add">
  <% if hide_button(@list.user) && @list.items.length <= 9 %>
    <p data-add-item-target="addItem" data-action="click->add-item#nextItem">
      + List Item
    </p>
    <%= simple_form_for [@item], html: { data: { add_item_target:"newForm" } } do |f| %>
      <%= f.input :name, label: false, placeholder: "Item Name" %>
    <% if @list.article == true %>
      <%= f.input :description, label: false, placeholder: "Text..." %>
      <%= f.input :photo, as: :file, label: false %>
    <% end %>
      <%= f.hidden_field :list_id, value: @list.id %>
      <%= f.submit %>
    <% end %>
    <% else %>
      <p class="d-none" data-add-item-target="addItem" data-action="click->add-item#nextItem">
      + List Item
    </p>
  <% end %>
</div>
