<%= simple_form_for [current_user, @list] do |f| %>
  <%= f.input :title, placeholder: "Title",
              label: false %>
  <%= f.input :tag_list,
              label: false,
              placeholder: "Add your tags, separated by commas",
              :input_html => { :class => "css-class", :value => @list.tag_list.join(", ") } %>
  <%= f.input :photo, as: :file,
              label: false %>
  <%= f.input :article, as: :boolean %>
    <%# <em class="art-info">Want more from your lists? Add images and text to each list item!</em> %>
  <div class="form-actions">
    <%= f.button :submit, "Create", class:"btn btn-flat" %>
  </div>
<% end %>
