
<div class="container">

  <div class="d-flex">
    <%= link_to '<', current_user, class:"back-button" %>
    <h1>Discover</h1>
  </div>

  <%= form_tag lists_path, class: "input-group d-flex search-bar justify-content-center", method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        id: "form1",
        type: "search",
        class: "form-control",
        placeholder: "Search..." %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>


  <div class="container discover-list" data-controller="filter-search">
    <div class="container d-flex justify-content-between mt-3">
      <h3 data-action="click->filter-search#lists" data-filter-search-target="listbutton">top</h3>
      <h3 data-action="click->filter-search#lists" data-filter-search-target="listbutton">lists</h3>
      <h3 data-action="click->filter-search#users" data-filter-search-target="userbutton">users</h3>
      <h3 data-action="click->filter-search#tags" data-filter-search-target="tagbutton">tags</h3>
    </div>
  <ul>

  <%# TOP - search results %>

  <%# LISTS - search results %>
    <% @search_lists.each do | list | %>
      <li class="list-card-info d-flex justify-content-between mt-2" data-filter-search-target="list">
      <div class="list-info d-flex align-items-center">
        <%# user image %>
        <%= image_tag list.user.avatar, class: "avatar-profile", height: 40, width: 40, crop: :fill %>
        <div class="list-title-user d-flex flex-column">
            <%# list size, title %>
            <div class="d-flex list-card-info">
            <%#= list.item_ids.size %>
            <%= link_to list.title, list, class:"list-title" %>
            </div>
            <%# list username %>
            <%= link_to format_username(list.user.username), user_path(list.user), class:"username-italic" %>
        </div>
      </div>
      <%# votes %>
      <div class="vote-box d-flex align-items-center">
        <%= list.votes.size ? list.votes.size : 0 %>
        <i class="fa-solid fa-thumbs-up"></i>
      </div>
      </li>
    <% end %>

     <%# USERS - search results %>
       <% @search_users.each do | list | %>
      <li class="list-card-info d-flex justify-content-between mt-2" data-filter-search-target="user">
      <div class="list-info d-flex align-items-center">
        <%# user image %>
        <%= image_tag list.user.avatar, class: "avatar-profile", height: 40, width: 40, crop: :fill %>
        <div class="list-title-user d-flex flex-column">
            <%# list size, title %>
            <div class="d-flex list-card-info">
            <%#= list.item_ids.size %>
            <%= link_to list.title, list, class:"list-title" %>
            </div>
            <%# list username %>
            <%= link_to format_username(list.user.username), user_path(list.user), class:"username-italic" %>
        </div>
      </div>
      <%# votes %>
      <div class="vote-box d-flex align-items-center">
        <%= list.votes.size ? list.votes.size : 0 %>
        <i class="fa-solid fa-thumbs-up"></i>
      </div>
      </li>
    <% end %>

      <%# TAG - search results %>
    <% @search_tags.each do | list | %>
      <li class="list-card-info d-flex justify-content-between mt-2" data-filter-search-target="tag">
      <div class="list-info d-flex align-items-center">
        <%# user image %>
        <%= image_tag list.user.avatar, class: "avatar-profile", height: 40, width: 40, crop: :fill %>
        <div class="list-title-user d-flex flex-column">
            <%# list size, title %>
            <div class="d-flex list-card-info">
            <%#= list.item_ids.size %>
            <%= link_to list.title, list, class:"list-title" %>
            </div>
            <%# list username %>
            <%= link_to format_username(list.user.username), user_path(list.user), class:"username-italic" %>
        </div>
      </div>
      <%# votes %>
      <div class="vote-box d-flex align-items-center">
        <%= list.votes.size ? list.votes.size : 0 %>
        <i class="fa-solid fa-thumbs-up"></i>
      </div>
      </li>
    <% end %>
 </ul>

</div>
<%# show all users lists %>
<%# lists need to link to list show page %>
<%# look at rendering list-item form on this page %>
</div>
