<div class="container pad">
  <%# <div class="d-flex">
    <%= link_to '<', current_user, class:"back-button" %>
    <%# <h1>Discover</h1>
  <%# </div> %>

  <%# Search Form %>

    <%= form_tag lists_path, class: "input-group d-flex justify-content-center", method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        id: "form1",
        type: "search",
        class: "form-control",
        placeholder: "Search..." %>
    <%= button_tag(type: "submit", class: "btn btn-search") do %>
            <i class="fas fa-search"></i> Search
        <% end %>
  <% end %>

  <%# Search Filter %>
  <div class="container discover-list" data-controller="filter-search">
    <div class="container d-flex justify-content-between mt-3">
      <h3 data-action="click->filter-search#tops" data-filter-search-target="topbutton">top</h3>
      <h3 data-action="click->filter-search#lists" data-filter-search-target="listbutton">lists</h3>
      <h3 data-action="click->filter-search#users" data-filter-search-target="userbutton">users</h3>
      <h3 data-action="click->filter-search#tags" data-filter-search-target="tagbutton">tags</h3>
    </div>

  <%# TOP - search results %>
  <ul class="d-none" data-filter-search-target="top">
    <% if @top_lists.present? %>
      <% @top_lists.each do | list | %>
      <li class="list-card-info d-flex justify-content-between mt-2">

      <div class="list-info d-flex align-items-center">
        <%# user image %>
        <%= cl_image_tag list.photo.key, class: "list-photo-thumbnail-big", height: 80, width: 80, crop: :fill if list.photo.key %>
        <div class="list-title-user d-flex flex-column">
            <%# list size, title %>
            <div class="d-flex list-card-info">
            <%#= list.item_ids.size %>
            <%= link_to list.title, user_list_path(list.user, list), class:"list-title" %>
            </div>
            <%# list username %>
            <%= link_to format_username(list.user.username), user_path(list.user), class:"username-italic" %>
          </div>

        </div>
        <%# votes %>
        <div class="vote-box d-flex align-items-center">
        <%= list.votes.size ? list.votes.size : 0 %>
        <i class="fa-solid fa-thumbs-up"></i>
        </div>
      </li>
    <% end %>
    <% else %>
      <p>No Results Found</p>
    <% end %>
  </ul>

  <%# LISTS - search results %>
  <ul class="d-none" data-filter-search-target="list">
  <% if @search_lists.present? %>
  <% @search_lists.each do | list | %>
    <li class="list-card-info d-flex justify-content-between mt-2">
    <div class="list-info d-flex align-items-center">
      <%# list image %>
      <%= cl_image_tag list.photo.key, class: "list-photo-thumbnail-big", height: 80, width: 80, crop: :fill if list.photo.key %>
      <div class="list-title-user d-flex flex-column">
          <%# list size, title %>
          <div class="d-flex list-card-info">
          <%#= list.item_ids.size %>
          <%= link_to list.title, list, class:"list-title" %>
          </div>
          <%# list username %>
          <%= link_to format_username(list.user.username), user_path(list.user), class:"username-italic" %>
      </div>
    </div>
    <%# votes %>
    <div class="vote-box d-flex align-items-center">
      <%= list.votes.size ? list.votes.size : 0 %>
      <i class="fa-solid fa-thumbs-up"></i>
    </div>
    </li>
  <% end %>
  <% else %>
    <p>No Results Found</p>
  <% end %>
  </ul>

    <%# USERS - search results %>
    <ul class="d-none" data-filter-search-target="user">
    <% if @search_users.present? %>
      <% @search_users.each do | list | %>
    <li class="list-card-info d-flex justify-content-between mt-2">
    <div class="list-info d-flex align-items-center">
      <%# user image %>
      <%= image_tag list.user.avatar, class: "avatar-profile", height: 40, width: 40, crop: :fill %>
      <div class="list-title-user d-flex flex-column">
        <%# username %>
        <%= link_to format_username(list.user.username), user_path(list.user), class:"list-title" %>
      </div>
    </div>
     <%# followers %>
      <div class="followers-box d-flex align-items-center">
        <p>followers:
        <%= list.user.follower_ids.size %>
        </p>
      </div>
    </li>
    <% end %>
    <% else %>
      <p>No Results Found</p>
    <% end %>
    </ul>

    <%# TAG - search results %>
    <ul class="d-none" data-filter-search-target="tag">
    <% if @search_tags.present? %>
      <% @search_tags.each do | list | %>
        <li class="list-card-info d-flex justify-content-between mt-2">
        <div class="list-info d-flex align-items-center">
          <%# list image %>
          <%= cl_image_tag list.photo.key, class: "list-photo-thumbnail-big", height: 40, width: 40, crop: :fill if list.photo.key %>
          <div class="list-title-user d-flex flex-column">
            <%# list size, title %>
            <div class="d-flex list-card-info">
            <%#= list.item_ids.size %>
            <%= link_to list.title, list, class:"list-title" %>
            </div>
            <%# list username %>
            <%= link_to format_username(list.user.username), user_path(list.user), class:"username-italic" %>
          </div>
        </div>
        <%# votes %>
        <div class="vote-box d-flex align-items-center">
          <%= list.votes.size ? list.votes.size : 0 %>
          <i class="fa-solid fa-thumbs-up"></i>
        </div>
        </li>
      <% end %>
    <% else %>
        <p>No Results Found</p>
    <% end %>
    </ul>
  </div>
</div>
