<div class="container">
  <h1>Discover</h1>

  <%= form_tag lists_path, class: "input-group d-flex search-bar justify-content-center", method: :get do %>
<%= text_field_tag :query,
  params[:query],
  id: "form1",
  type: "search",
  class: "form-control",
  placeholder: "Search..."%>
<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

  <ul>
    <% @ordered_lists.each do | list | %>
     <li class="d-flex justify-content-between">
        <%= link_to list.title, user_list_path(current_user, list) %>
        <i class="fa-solid fa-thumbs-up"></i>
        <%= list.votes.size ? list.votes.size : 0 %>
      </li>
    <% end %>
  </ul>

</div>
<%# show all users lists %>
<%# lists need to link to list show page %>
<%# look at rendering list-item form on this page %>
