<h1>New List</h1>

<%# List Title %>
<%= simple_form_for [current_user, @list] do |f| %>
  <%= f.input :title %>
  <%= f.input :tag_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
  <%= f.submit %>
<% end %>

<br>
<br>
<%= link_to "<<< Back", user_lists_path  %>
<%# List Items %>
<%#= simple_form_for [@user, @item] do |f| %>
  <%#= f.input :name %>
  <%#= f.submit %>
<%# end %>
