 <div class="pad d-flex flex-column justify-content-between" data-controller="preview">
  <div>
    <span class ="d-none" id="published-status"><%= @list.published %></span>
    <%# UPLOADED IMAGE %>
      <%# LIST PUBLISH OPTIONS %>
      <% if hide_button(@list.user) %>
        <div class="container list-options d-flex justify-content-between mt-2">
          <div class="d-flex align-items-center">
            <%# PREVIEW %>
            <% if @list.user == current_user %>
              <%= link_to "Editor", "#", id:"preview" %>
                <%# <i class="fa-solid fa-eye"></i> %>
            <% end %>

            <%# SAVE %>
            <%# if hide_button(@list.user) %>
              <%#= link_to "Save", current_user %>
                <%# <i class="fa-solid fa-file"></i> %>
            <%# end %>
          </div>

          <%# PUBLISH %>
          <% if @list.published == false %>
            <%= link_to "Publish", publish_user_list_path(current_user, @list), id:"publish-btn", class:"btn btn-ghost" %>
              <%# <i class="fa-solid fa-circle-check"></i> %>
          <% end %>
        </div>
      <% end %>
    <div class="photo-container d-flex justify-content-evenly align-items-end">
        <%= cl_image_tag @list.photo.key, class: "list-photo-card mt-2" if @list.photo.key %>
    </div>

    <%# TITLE %>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <h1><%= @list.title %></h1>
        <div id="title">
        <% if hide_button(@list.user)%>
          <%= link_to edit_user_list_path(current_user) do %>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="d-flex justify-content-between align-content-center user-pin-vote pb-2">
      <%# USERNAME %>
      <% if @list.user != current_user %>
        <%= link_to format_username(@list.user.username), @list.user %>
      <% end %>
      <div class="d-flex align-items-center">
          <%# LIKES %>
          <% unless hide_button(@list.user) %>
            <% if @vote %>
              <%= button_to list_vote_path(@list, @vote), class:"btn-vote btn-selected", method: :delete do %>
                <i class="fa-solid fa-thumbs-up"></i>
              <% end %>
            <% else %>
              <%= button_to list_votes_path(@list), class:"btn-vote" do %>
                <i class="fa-solid fa-thumbs-up"></i>
              <% end %>
            <% end %>

        <%# PIN & VOTE BUTTONS %>
          <!-- Button trigger modal -->
          <% if @list.published == true %>
            <button type="button" id="share-btn" class="btn-share" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <i class="fa-solid fa-share"></i>
            </button>
          <% end %>


          <%#= PIN / UNPIN %>
          <% if @fav %>
            <%= button_to list_favourite_list_path(@list, @fav), class:"btn-pin btn-selected", method: :delete do %>
              <i class="fa-solid fa-thumbtack"></i>
            <% end %>
          <% else %>
            <%= button_to list_favourite_lists_path(@list), class:"btn-pin" do %>
              <i class="fa-solid fa-thumbtack"></i>
            <% end %>
          <% end %>



        <% end %>
      </div>
    </div>

    <%# CURRENT LIST & ADD ITEMS %>
    <div class="current-list" data-controller="add-item">
      <ol id="sortList" class="hide-nums pt-4">
      <% @list.items.each do | item | %>
        <li class="list-item" data-value="list-order">
          <div class="item-card" data-controller="edit-item" data-edit-item-target="card">
            <div class="item-infos d-flex justify-content-between" data-edit-item-target="infos">
              <h5 data-action="click->edit-item#displayForm"><span class="my-handle">:: </span><%= item.name %>
              </h5>

              <div class="d-flex">
                <% if hide_button(@list.user)%>
                  <%# delete item %>
                  <%= link_to list_item_path(item.list, item), method: :delete do %>
                    <p class="delBtn"><i class="fa-solid fa-xmark"></i></p>
                  <% end %>
                <% end %>

                <%# reveal text %>
                <% if @list.article == true %>
                  <p><i class="fa-solid fa-circle-info" data-action="click->edit-item#descBtn"></i>
                  </p>
                <% end %>
              </div>

            </div>

            <%#= rendered update form %>
            <% if hide_button(@list.user) %>
              <%= simple_form_for item, html: { id: "sort-form", class: "d-none", data: { edit_item_target: "form", action: "submit->edit-item#update" } } do |f| %>
                <%= f.input :name, label: false %>
                <% if @list.article == true %>
                  <%= f.input :description, label: false %>
                  <%= f.input :photo, as: :file, label: false, placeholder: "Upload Photo" %>
                <% end %>
                <%= f.hidden_field :list_id, value: @list.id %>
                <%= f.submit "Save" %>
              <% end %>
            <% end %>

            <%# ARTICLE VIEW %>
            <div data-edit-item-target="article">
              <% if @list.article == true %>
                <% if item.description == nil || item.description == "" %>
                  <% if hide_button(@list.user) %>
                    <em>+ List Description...</em>
                  <% end %>
                <% else %>
                  <p><%= item.description %></p>
                  <div class="d-flex justify-content-center">
                    <%= cl_image_tag item.photo.key, class:"list-photo-card" if item.photo.key %>
                  </div>
                <% end %>
              <% end %>
            </div>

          </div>
        </li>
      <% end %>
      </ol>

      <%# LIST ITEM FORM %>
        <%= render "list_item_form" %>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Share with everyone!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <%= social_share_button_tag(@list.title) %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>
    <div class="list-details-bottom">
      <%# TAG LINKS %>
      <div class="d-flex container">
        <% @list.tag_list.each do |tag| %>
          <%= link_to format_tag(tag), tagged_path(tag: tag) %>
        <% end %>

        <% if @list.tag_list.present? %>
          <div id="tags">
            <% if hide_button(@list.user)%>
              <%= link_to edit_user_list_path(current_user) do %>
                <i class="fas fa-pen fa-xs ms-2"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div id="create-info" class="d-flex justify-content-between container">
        <% if @list.published == false %>
            <em >Created <%= time_ago_in_words(@list.created_at) %> ago</em>
          <% else %>
            <em>Published <%= time_ago_in_words(@list.updated_at) %> ago</em>
            <em><%= @list.votes.size %> likes</em>
        <% end %>
      </div>
    </div>
</div>
