
 <div class="pad d-flex flex-column justify-content-between" data-controller="preview">
  <div>
    <span class="d-none" id="published-status"><%= @list.published %></span>

  <%# LIST PUBLISH OPTIONS %>
    <% if @list.photo.key %>
      <div class="card-photo-title mt-2 mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, class: "list-photo-card", crop: :fill %>); height: 140px">
        <h1 id="list-title"><%= @list.title.titleize %></h1>
        <div id="title">
        <% if hide_button(@list.user)%>
          <%= link_to edit_user_list_path(current_user) do %>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          <% end %>
        <% end %>
      </div>
      </div>
    <% else %>
      <div class="mt-2 card-title">
        <%= @list.title %>
      </div>
      <div id="title">
        <% if hide_button(@list.user)%>
          <%= link_to edit_user_list_path(current_user) do %>
            <i class="fa-solid fa-ellipsis-vertical" style="color: darkgrey; margin-top: 50px;"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>

        <% if hide_button(@list.user) %>
          <div class="list-options d-flex justify-content-between mt-2">

            <%# PREVIEW %>
            <% if @list.user == current_user %>
              <%= link_to "Preview", "#", id:"preview", class:"btn btn-primary btn-sm", style:"width:100%" %>
                <%# <i class="fa-solid fa-eye"></i> %>
            <% end %>

            <%# PUBLISH %>
            <% if @list.published == false %>
              <%= link_to "Publish", publish_user_list_path(current_user, @list), id:"publish-btn", class:"btn btn-success btn-sm", style:"width:100%" %>
            <% end %>
          </div>
        <% end %>


    <div class="d-flex justify-content-between align-content-center user-pin-vote pb-2">

      <% if @list.user != current_user %>
        <%# USERNAME %>
        <%= link_to format_username(@list.user.username), @list.user, id:"list-user" %>
      <% end %>

      <div class="d-flex align-items-center">

          <%# LIKES %>
          <% unless hide_button(@list.user) %>
            <% if @vote %>
              <%= button_to list_vote_path(@list, @vote), class:"btn-vote btn-selected", method: :delete do %>
                <i class="fa-solid fa-thumbs-up"></i>
              <% end %>
            <% else %>
              <%= button_to list_votes_path(@list), class:"btn-vote" do %>
                <i class="fa-solid fa-thumbs-up"></i>
              <% end %>
            <% end %>

        <%# PIN & VOTE BUTTONS %>
          <!-- Button trigger modal -->
          <% if @list.published == true %>
            <button type="button" id="share-btn" class="btn-share" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <i class="fa-solid fa-share"></i>
            </button>
          <% end %>

          <%#= PIN / UNPIN %>
          <% if @fav %>
            <%= button_to list_favourite_list_path(@list, @fav), class:"btn-pin btn-selected", method: :delete do %>
              <i class="fa-solid fa-thumbtack"></i>
            <% end %>
          <% else %>
            <%= button_to list_favourite_lists_path(@list), class:"btn-pin" do %>
              <i class="fa-solid fa-thumbtack"></i>
            <% end %>
          <% end %>

        <% end %>
      </div>
    </div>

    <%# CURRENT LIST & ADD ITEMS %>
    <div class="current-list" data-controller="add-item">
      <ul id="sortList" class="mt-3">
      <% if @list.user != current_user %>
        <div id="cover"></div>
      <% end %>
      <% @list.items.each do | item | %>
        <li class="list-item" data-value="list-order">
          <div class="item-card card pt-2 pb-1" data-controller="edit-item" data-edit-item-target="card">
            <div class="item-infos d-flex justify-content-between" data-edit-item-target="infos">



              <h5 class="list-item-title" data-edit-item-target="infos" data-action="click->edit-item#displayForm"><span class="my-handle">:: </span><%= item.name %>
              </h5>

              <div class="d-flex">
                <% if hide_button(@list.user)%>
                  <%# delete item %>
                  <%= link_to list_item_path(item.list, item), method: :delete do %>
                    <p class="delBtn"><i class="fa-solid fa-xmark"></i></p>
                  <% end %>
                <% end %>

                <%# reveal text %>
                <% if @list.article == true %>
                  <p class="infoBtn"><i class="fa-solid fa-circle-info" data-action="click->edit-item#descBtn"></i>
                  </p>
                <% end %>
              </div>

            </div>

            <%#= rendered update form %>
            <% if hide_button(@list.user) %>
              <%= simple_form_for item, html: { id: "sort-form", class: "d-none", data: { edit_item_target: "form", action: "submit->edit-item#update" } } do |f| %>
                <%= f.input :name, label: false %>
                <% if @list.article == true %>
                  <%= f.input :description, label: false %>
                  <%= f.input :photo, as: :file, label: false, placeholder: "Upload Photo" %>
                <% end %>
                <%= f.hidden_field :list_id, value: @list.id %>
                <%= f.submit "Save", style:"width: 100%" %>
              <% end %>
            <% end %>

            <%# ARTICLE VIEW %>
            <div data-edit-item-target="article">
              <% if @list.article == true %>
                <% if item.description == nil || item.description == "" %>
                  <% if hide_button(@list.user) %>
                    <em>+ List Description...</em>
                  <% end %>
                <% else %>
                  <p class="li-desc"><%= item.description %></p>
                  <div class="d-flex justify-content-center list-item-photo-box">
                    <%= cl_image_tag item.photo.key, class:"list-item-photo-card" if item.photo.key %>
                  </div>
                <% end %>
              <% end %>
            </div>

          </div>
        </li>
      <% end %>
      </ul>

      <%# LIST ITEM FORM %>
        <%= render "list_item_form" %>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Share with everyone!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <%= social_share_button_tag(@list.title) %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>
    <div class="list-details-bottom">
      <%# TAG LINKS %>
      <div class="d-flex tag">
        <% @list.tag_list.each do |tag| %>
          <%= link_to format_tag(tag), tagged_path(tag: tag) %>
        <% end %>

        <% if @list.tag_list.present? %>
          <div id="tags">
            <% if hide_button(@list.user)%>
              <%= link_to edit_user_list_path(current_user) do %>
                <%# <i class="fas fa-pen fa-xs ms-2"></i> %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div id="create-info" class="d-flex justify-content-between">
        <% if @list.published == false %>
            <em >Created <%= time_ago_in_words(@list.created_at) %> ago</em>
          <% else %>
            <em>Published <%= time_ago_in_words(@list.created_at) %> ago</em>
            <em><%= @list.votes.size  %> <%= "like".pluralize(@list.votes.size) %></em>
        <% end %>
      </div>
    </div>
</div>
