<div class="pad home-card">
  <div class="container d-flex flex-column justify-content-around logo-wrap">

      <div class="logo-text">
        <div class="home-logos">
          <%= image_tag("https://res.cloudinary.com/mygreenhouses/image/upload/v1655547120/list-it/listit-icon_wordmark-horizontal_tgonja.png", width: 250, crop: :fill) %>
        </div>
      </div>

      <div class="welcome-card">
        <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :username,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "username" } %>
            <%= f.input :email,
                        required: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class:"btn btn-flat"  %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
      </div>

  </div>
</div>
