<div class="pad">

  <div class="pt-3">

    <%# Profile card starts %>
    <div class="d-flex justify-content-around align-items-center mb-3">
      <div class="img-fluid">
        <%# profile image %>
        <%= image_tag @user.avatar, class: "avatar-profile", height: 100, width: 100, crop: :fill %>
      </div>
        <%# profile name & bio %>
        <div class="card-info d-flex flex-column justify-content-center">
          <h4><%= format_username(@user.username) %></h4>
          <p class="bio"><%= @user.bio %></p>
          <%# follow button %>
          <% unless hide_button(@user) %>
            <div class="d-flex justify-content-center">
              <%= follow_or_unfollow_button(@user, @following) %>
            </div>
          <% end %>
        </div>
    </div>
     <%# Profile card ends %>

        <%# Lists, Followers, Following %>
        <div class="profile-info stats mb-2">
          <ul class="d-flex justify-content-around" >
            <%# Lists %>
            <li class="d-flex flex-column align-items-center">
              <%= link_to published_lists(@user).size, '#' %><p>lists</p>
            </li>
            <%# Followers %>
            <li class="d-flex flex-column align-items-center">
              <%= link_to @user.followers.size, user_followers_path(@user) %><p>followers</p>
            </li>
            <%# Following %>
            <li class="d-flex flex-column align-items-center">
              <%= link_to @user.followings.size, user_following_path(@user) %><p>following</p>
            </li>

          </ul>
        </div>
  </div>

  <div class="profile-views" data-controller="change-view">
    <%# Published, Drafts, Pinned %>
    <% if hide_button(@user) %>

    <div class="profile-nav pt-2 pb-2 mb-2">
      <ul class ="d-flex justify-content-around">
        <%# Lists %>
        <li class="d-flex flex-column align-items-center" data-action="click->change-view#lists" data-change-view-target="listicon">
          <i class="fa-solid fa-list"></i>
        <%# Drafts %>
        </li>
        <li class="d-flex flex-column align-items-center" data-action="click->change-view#drafts" data-change-view-target="drafticon">
          <i class="fa-solid fa-file-pen"></i>
        </li>
        <%# Pinned %>
        <li class="d-flex flex-column align-items-center" data-action="click->change-view#pins" data-change-view-target="pinicon">
          <i class="fa-solid fa-thumbtack"></i>
        </li>

      </ul>
    </div>
    <% end %>


    <div class="row d-none" data-change-view-target="list">

      <%# Published lists card starts %>
      <% @user_lists.each do | list | %>
      <div class="col-md-4 mt-1">
          <div class="card p-2 mb-2">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-row align-items-center">
                    <div class="c-details">
                        <p class="mb-0">
                        <%= link_to format_username(list.user.username), list.user %>
                        </p>
                    </div>
                </div>
                <% if list.tags.present? %>
                  <div class="tag">
                    <span><%= link_to format_tag(list.tags.first.to_s), tagged_path(tag: list.tags.first.name) %></span>
                  </div>
                <% end %>
            </div>
            <%= link_to user_list_path(list.user, list)  do %>
              <div class="mt-2 card-link">
                  <% if list.photo.key %>
                    <div class="mt-2 card-photo-title" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path list.photo.key, class: "list-photo-card", crop: :fill %>)">
                      <%= list.title %>
                    </div>
                  <% else %>
                    <div class="mt-2 card-title">
                    <%= list.title %>
                    </div>
                  <% end %>
              </div>
            <% end %>
            <div class="d-flex justify-content-between align-items-end">
                <div class="d-flex flex-row align-items-center">
                    <div class="mt-2 c-details">
                        <% if created_today?(list) %>
                          <span><em>Published: <%= time_ago_in_words(list.created_at) %> ago</em></span>
                        <% else %>
                           <span><em>Published: <%= time_ago_in_words(list.updated_at) %> ago</em></span>
                        <% end %>
                    </div>
                </div>
                  <div class="ms-2">
                    <span class="text1"><%= list.votes.size %> <span class="text2"><%=  "like".pluralize(list.votes.size) %></span></span>
                  </div>
            </div>
          </div>
      </div>
      <% end %>
      <%# list card ends %>
    </div>

      <%# Draft lists card starts %>
      <div class="row d-none" data-change-view-target="draft">
      <% if hide_button(@user) %>
        <% if unpublished_lists(@user).present? %>
          <% unpublished_lists(current_user).each do | list | %>
          <div class="col-md-4 mt-1">
              <div class="card p-2 mb-2">
                <% if !hide_button(@user) %>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <div class="c-details">
                            <p class="mb-0">
                            <%= link_to format_username(list.user.username), list.user %>
                            </p>
                        </div>
                    </div>
                    <% if list.tags.present? %>
                      <div class="tag">
                        <span><%= link_to format_tag(list.tags.first.to_s), tagged_path(tag: list.tags.first.name) %></span>
                      </div>
                    <% end %>
                </div>
                <% end %>
                <%= link_to user_list_path(list.user, list)  do %>
                  <div class="mt-2 card-link">
                      <% if list.photo.key %>
                        <div class="mt-2 card-photo-title" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path list.photo.key, class: "list-photo-card", crop: :fill %>)">
                          <%= list.title %>
                        </div>
                      <% else %>
                        <div class="mt-2 card-title">
                        <%= list.title %>
                        </div>
                      <% end %>
                  </div>
                <% end %>
                <div class="d-flex justify-content-between align-items-end">
                    <div class="d-flex flex-row align-items-center">
                        <div class="mt-2 c-details">
                          <span><em>Created: <%= time_ago_in_words(list.created_at) %> ago</em></span>
                        </div>
                    </div>
                      <div class="ms-2">
                        <span class="text1"><%= list.votes.size %> <span class="text2"><%=  "like".pluralize(list.votes.size) %></span></span>
                      </div>
                </div>
              </div>
          </div>
          <% end %>
        <% else %>
        <div class="col-md-4 mt-1">
            <div class="p-2 mb-2">
                <div class="mt-5">
                    <div class="d-flex justify-content-center align-items-center" id="no-results">
                      Start working on a new list!
                    </div>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%# Draft lists card ends %>
    </div>

    <%# Pinned lists card starts %>
      <div class="row d-none" data-change-view-target="pin">
      <% if hide_button(@user) %>
        <% if @user.favourite_lists.present? %>
          <% @user.favourited_lists.each do | list | %>
          <div class="col-md-4 mt-1">
              <div class="card p-2 mb-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <div class="c-details">
                            <p class="mb-0">
                            <%= link_to format_username(list.user.username), list.user %>
                            </p>
                        </div>
                    </div>
                    <% if list.tags.present? %>
                      <div class="tag">
                        <span><%= link_to format_tag(list.tags.first.to_s), tagged_path(tag: list.tags.first.name) %></span>
                      </div>
                    <% end %>
                </div>
                <%= link_to user_list_path(list.user, list)  do %>
                  <div class="mt-2 card-link">
                      <% if list.photo.key %>
                        <div class="mt-2 card-photo-title" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path list.photo.key, class: "list-photo-card", crop: :fill %>)">
                          <%= list.title %>
                        </div>
                      <% else %>
                        <div class="mt-2 card-title">
                        <%= list.title %>
                        </div>
                      <% end %>
                  </div>
                <% end %>
                <div class="d-flex justify-content-between align-items-end">
                    <div class="d-flex flex-row align-items-center">
                        <div class="mt-2 c-details">
                          <span><em>Published: <%= time_ago_in_words(list.created_at) %> ago</em></span>
                        </div>
                    </div>
                      <div class="ms-2">
                        <span class="text1"><%= list.votes.size %> <span class="text2"><%=  "like".pluralize(list.votes.size) %></span></span>
                      </div>
                </div>
              </div>
          </div>
          <% end %>
        <% else %>
        <div class="col-md-4 mt-1">
            <div class="p-2 mb-2">
                <div class="mt-5">
                    <div class="d-flex justify-content-center align-items-center" id="no-results">
                      Pin your favourite lists!
                    </div>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%# Pinned lists card ends %>
    </div>

</div>
