<div class="container d-flex justify-content-center mt-3">
  <%= image_tag @user.avatar, class: "avatar-profile", height: 150, width: 150, crop: :fill %>
</div>

<div class="container d-flex justify-content-center flex-column user-bio mt-3">
  <h3><%= format_username(@user.username) %></h3>
  <p><%= @user.bio %></p>
</div>

<% unless hide_button(@user) %>
<div class="container d-flex justify-content-center mb-3">
  <%= follow_or_unfollow_button(@user, @following) %>
</div>
<% end %>

<%# Lists, Followers, Following %>
<div class="container profile-info mt-1">
  <ul class="d-flex justify-content-around">
    <li class="d-flex flex-column align-items-center">
    <%= link_to published_lists(@user).size, '#' %><p>lists</p>
    </li>
    <li class="d-flex flex-column align-items-center">
    <%= link_to @user.followers.size, user_followers_path(@user) %><p>followers</p>
    </li>
    <li class="d-flex flex-column align-items-center">
    <%= link_to @user.followings.size, user_following_path(@user) %><p>following</p>
    </li>

    <%# <li class="d-flex flex-column align-items-center">
    <%= link_to @user.favourite_lists.size, '#' %>
    <%# </li> %>
  </ul>
</div>

<%# Published, Drafts, Pinned %>
<% if hide_button(@user) %>
<div class="container profile-nav mt-1">
  <ul class ="d-flex justify-content-around">
    <li class="d-flex flex-column align-items-center">
      <i class="fa-solid fa-list"></i>
    </li>
    <li class="d-flex flex-column align-items-center">
      <i class="fa-solid fa-file-pen"></i>
    </li>
    <li class="d-flex flex-column align-items-center">
      <i class="fa-solid fa-thumbtack"></i>
    </li>
  </ul>
</div>
<% end %>

<%# if published_lists(@user).present? %>
  <%#= pluralize(published_lists(@user).size, "list") %>
<%# end %>
<div class="list-card container">
    <ul>
      <% published_lists(@user).each do | list | %>
        <li class="list-card-info d-flex justify-content-between">
          <%= link_to list.title, user_list_path(@user, list) %>
          <%= list.votes.size ? list.votes.size : 0 %> 👍
        </li>
      <% end %>
          <%#= list.updated_at %>
          <%#= @user.username %>
    </ul>

<% if hide_button(@user) %>
  <% if unpublished_lists(@user).present? %>
    <p><%= pluralize(unpublished_lists(current_user).size, "🔒 list") %>:</p>
    <ul>
      <% unpublished_lists(current_user).each do | list | %>
        <li>
          <%= link_to list.title, user_list_path(current_user, list) %>
          <%= list.votes.size ? list.votes.size : 0 %> 👍
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if @user.favourite_lists.present? %>
  <p class="container"><%= pluralize(@user.favourite_lists.size, "Pin") %>:</p>
<ul>
      <% @user.favourited_lists.each do | list | %>
          <li class="list-card-info d-flex justify-content-between">
          <%= link_to list.title, list_path(list) %>
          <%= list.votes.size ? list.votes.size : 0 %> 👍
          </li>
        <% end %>
    </ul>
<% end %>
