
<%= image_tag @user.avatar, height: 250, width: 250, crop: :fill %>
<h3><%= @user.username %></h3>
<p>bio: <%= @user.bio %></p>
<% unless hide_follow_button(@user) %>
  <%= follow_or_unfollow_button(@user, @following) %>
<% end %>

<p>Published Lists: <%= link_to published_lists(@user).size, user_lists_path(@user) %></p>
<p>Unpublished Lists: <%= link_to unpublished_lists(@user).size, user_lists_path(@user) %></p>
<p>Following: <%= link_to @user.followings.size, user_following_path(@user) %></p>
<p>Followers: <%= link_to @user.followers.size, user_followers_path(@user) %></p>
