 <% if current_user %>

    <div class="bottom-navbar flex justify-content-around-align-items-center">
    <ul class="d-flex justify-content-around">

      <%# Feed %>
      <li class="d-flex flex-column align-items-center">
      <%= link_to root_path(current_user) do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
      </li>

      <%# Disover %>
      <li class="d-flex flex-column align-items-center">
      <%= link_to user_lists_path(current_user) do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      </li>

      <%# Create List %>
      <li class="d-flex flex-column align-items-center">
      <%= link_to new_user_list_path(current_user) do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
      </li>

      <%# Show a random Lists? %>
      <li class="d-flex flex-column align-items-center">
      <%#= link_to "#" do %>
      <%= link_to random_list do %>
        <i class="fa-solid fa-dice"></i>
      <% end %>
      </li>

      <%# Profile %>
      <li class="d-flex flex-column align-items-center">
      <%= link_to current_user do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
      </li>

    </ul>
    </div>

  <% end %>
